<!-- Styles -->
<style>
  #chartdiv {
    width: 100%;
    height: 100%;
  }
</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/maps.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/usaLow.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
  am4core.ready(function () {
    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end

    // Create map instance
    var chart = am4core.create('chartdiv', am4maps.MapChart);

    // Set map definition
    chart.geodata = am4geodata_worldLow;

    // Set projection
    chart.projection = new am4maps.projections.Miller();

    // Create map polygon series
    var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());

    //create Title
    var title = chart.titles.create();
    title.text =
      '[bold font-size: 20]Jumlah positif COVID-19 per 7 April 2020[/]\nsource: ECSC';
    title.textAlign = 'middle';

    //Set min/max fill color for each area
    polygonSeries.heatRules.push({
      property: 'fill',
      target: polygonSeries.mapPolygons.template,
      min: chart.colors.getIndex(1).lighten(0.5),
      max: chart.colors.getIndex(1).brighten(-0.8),
    });

    // Make map load polygon data (state shapes and names) from GeoJSON
    polygonSeries.useGeodata = true;

    // Set heatmap values for each state
    polygonSeries.data = [
      {
        value: '38',
        name: 'Afghanistan',
        id: 'AF',
      },
      {
        value: '16',
        name: 'Albania',
        id: 'AL',
      },
      {
        value: '25',
        name: 'Andorra',
        id: 'AD',
      },
      {
        value: '103',
        name: 'Algeria',
        id: 'DZ',
      },
      {
        value: '2',
        name: 'Angola',
        id: 'AO',
      },
      {
        value: '0',
        name: 'Anguilla',
        id: 'AI',
      },
      {
        value: '0',
        name: 'Antigua_and_Barbuda',
        id: 'AG',
      },
      {
        value: '74',
        name: 'Argentina',
        id: 'AR',
      },
      {
        value: '11',
        name: 'Armenia',
        id: 'AM',
      },
      {
        value: '7',
        name: 'Aruba',
        id: 'AW',
      },
      {
        value: '100',
        name: 'Australia',
        id: 'AU',
      },
      {
        value: '314',
        name: 'Austria',
        id: 'AT',
      },
      {
        value: '57',
        name: 'Azerbaijan',
        id: 'AZ',
      },
      {
        value: '4',
        name: 'Bahamas',
        id: 'BS',
      },
      {
        value: '56',
        name: 'Bahrain',
        id: 'BH',
      },
      {
        value: '35',
        name: 'Bangladesh',
        id: 'BD',
      },
      {
        value: '4',
        name: 'Barbados',
        id: 'BB',
      },
      {
        value: '136',
        name: 'Belarus',
        id: 'BY',
      },
      {
        value: '1123',
        name: 'Belgium',
        id: 'BE',
      },
      {
        value: '2',
        name: 'Belize',
        id: 'BZ',
      },
      {
        value: '4',
        name: 'Benin',
        id: 'BJ',
      },
      {
        value: '2',
        name: 'Bermuda',
        id: 'BM',
      },
      {
        value: '0',
        name: 'Bhutan',
        id: 'BT',
      },
      {
        value: '11',
        name: 'Bolivia',
        id: 'BO',
      },
      {
        value: '0',
        name: 'Bonaire, Saint Eustatius and Saba',
        id: 'BQ',
      },
      {
        value: '32',
        name: 'Bosnia_and_Herzegovina',
        id: 'BA',
      },
      {
        value: '1',
        name: 'Botswana',
        id: 'BW',
      },
      {
        value: '926',
        name: 'Brazil',
        id: 'BR',
      },
      {
        value: '0',
        name: 'British_Virgin_Islands',
        id: 'VG',
      },
      {
        value: '0',
        name: 'Brunei_Darussalam',
        id: 'BN',
      },
      {
        value: '18',
        name: 'Bulgaria',
        id: 'BG',
      },
      {
        value: '19',
        name: 'Burkina_Faso',
        id: 'BF',
      },
      {
        value: '0',
        name: 'Burundi',
        id: 'BI',
      },
      {
        value: '1',
        name: 'Cambodia',
        id: 'KH',
      },
      {
        value: '8',
        name: 'Cameroon',
        id: 'CM',
      },
      {
        value: '1157',
        name: 'Canada',
        id: 'CA',
      },
      {
        value: '0',
        name: 'Cape_Verde',
        id: 'CV',
      },
      {
        value: '0',
        name: 'Cayman_Islands',
        id: 'KY',
      },
      {
        value: '0',
        name: 'Central_African_Republic',
        id: 'CF',
      },
      {
        value: '0',
        name: 'Chad',
        id: 'TD',
      },
      {
        value: '344',
        name: 'Chile',
        id: 'CL',
      },
      {
        value: '56',
        name: 'China',
        id: 'CN',
      },
      {
        value: '94',
        name: 'Colombia',
        id: 'CO',
      },
      {
        value: '0',
        name: 'Congo',
        id: 'CG',
      },
      {
        value: '13',
        name: 'Costa_Rica',
        id: 'CR',
      },
      {
        value: '62',
        name: 'Cote_dIvoire',
        id: 'CI',
      },
      {
        value: '40',
        name: 'Croatia',
        id: 'HR',
      },
      {
        value: '30',
        name: 'Cuba',
        id: 'CU',
      },
      {
        value: '2',
        name: 'Curaçao',
        id: 'CW',
      },
      {
        value: '19',
        name: 'Cyprus',
        id: 'CY',
      },
      {
        value: '235',
        name: 'Czechia',
        id: 'CZ',
      },
      {
        value: '7',
        name: 'Democratic_Republic_of_the_Congo',
        id: 'CD',
      },
      {
        value: '312',
        name: 'Denmark',
        id: 'DK',
      },
      {
        value: '31',
        name: 'Djibouti',
        id: 'DJ',
      },
      {
        value: '1',
        name: 'Dominica',
        id: 'DM',
      },
      {
        value: '83',
        name: 'Dominican_Republic',
        id: 'DO',
      },
      {
        value: '101',
        name: 'Ecuador',
        id: 'EC',
      },
      {
        value: '3',
        name: 'Egypt',
        id: 'EG',
      },
      {
        value: '9',
        name: 'El_Salvador',
        id: 'SV',
      },
      {
        value: '0',
        name: 'Equatorial_Guinea',
        id: 'GQ',
      },
      {
        value: '2',
        name: 'Eritrea',
        id: 'ER',
      },
      {
        value: '11',
        name: 'Estonia',
        id: 'EE',
      },
      {
        value: '1',
        name: 'Eswatini',
        id: 'SZ',
      },
      {
        value: '1',
        name: 'Ethiopia',
        id: 'ET',
      },
      {
        value: '0',
        name: 'Falkland_Islands_(Malvinas)',
        id: 'FK',
      },
      {
        value: '2',
        name: 'Faroe_Islands',
        id: 'FO',
      },
      {
        value: '0',
        name: 'Fiji',
        id: 'FJ',
      },
      {
        value: '249',
        name: 'Finland',
        id: 'FI',
      },
      {
        value: '3912',
        name: 'France',
        id: 'FR',
      },
      {
        value: '0',
        name: 'French_Polynesia',
        id: 'PF',
      },
      {
        value: '0',
        name: 'Gabon',
        id: 'GA',
      },
      {
        value: '0',
        name: 'Gambia',
        id: 'GM',
      },
      {
        value: '14',
        name: 'Georgia',
        id: 'GE',
      },
      {
        value: '3834',
        name: 'Germany',
        id: 'DE',
      },
      {
        value: '73',
        name: 'Ghana',
        id: 'GH',
      },
      {
        value: '6',
        name: 'Gibraltar',
        id: 'GI',
      },
      {
        value: '20',
        name: 'Greece',
        id: 'EL',
      },
      {
        value: '0',
        name: 'Greenland',
        id: 'GL',
      },
      {
        value: '0',
        name: 'Grenada',
        id: 'GD',
      },
      {
        value: '2',
        name: 'Guam',
        id: 'GU',
      },
      {
        value: '4',
        name: 'Guatemala',
        id: 'GT',
      },
      {
        value: '11',
        name: 'Guernsey',
        id: 'GG',
      },
      {
        value: '7',
        name: 'Guinea',
        id: 'GN',
      },
      {
        value: '15',
        name: 'Guinea_Bissau',
        id: 'GW',
      },
      {
        value: '2',
        name: 'Guyana',
        id: 'GY',
      },
      {
        value: '3',
        name: 'Haiti',
        id: 'HT',
      },
      {
        value: '0',
        name: 'Holy_See',
        id: 'VA',
      },
      {
        value: '7',
        name: 'Honduras',
        id: 'HN',
      },
      {
        value: '73',
        name: 'Hungary',
        id: 'HU',
      },
      {
        value: '76',
        name: 'Iceland',
        id: 'IS',
      },
      {
        value: '354',
        name: 'India',
        id: 'IN',
      },
      {
        value: '218',
        name: 'Indonesia',
        id: 'ID',
      },
      {
        value: '2274',
        name: 'Iran',
        id: 'IR',
      },
      {
        value: '70',
        name: 'Iraq',
        id: 'IQ',
      },
      {
        value: '253',
        name: 'Ireland',
        id: 'IE',
      },
      {
        value: '12',
        name: 'Isle_of_Man',
        id: 'IM',
      },
      {
        value: '474',
        name: 'Israel',
        id: 'IL',
      },
      {
        value: '3599',
        name: 'Italy',
        id: 'IT',
      },
      {
        value: '1',
        name: 'Jamaica',
        id: 'JM',
      },
      {
        value: '163',
        name: 'Japan',
        id: 'JP',
      },
      {
        value: '14',
        name: 'Jersey',
        id: 'JE',
      },
      {
        value: '4',
        name: 'Jordan',
        id: 'JO',
      },
      {
        value: '139',
        name: 'Kazakhstan',
        id: 'KZ',
      },
      {
        value: '16',
        name: 'Kenya',
        id: 'KE',
      },
      {
        value: '5',
        name: 'Kosovo',
        id: 'XK',
      },
      {
        value: '109',
        name: 'Kuwait',
        id: 'KW',
      },
      {
        value: '12',
        name: 'Kyrgyzstan',
        id: 'KG',
      },
      {
        value: '1',
        name: 'Laos',
        id: 'LA',
      },
      {
        value: '9',
        name: 'Latvia',
        id: 'LV',
      },
      {
        value: '14',
        name: 'Lebanon',
        id: 'LB',
      },
      {
        value: '1',
        name: 'Liberia',
        id: 'LR',
      },
      {
        value: '0',
        name: 'Libya',
        id: 'LY',
      },
      {
        value: '0',
        name: 'Liechtenstein',
        id: 'LI',
      },
      {
        value: '32',
        name: 'Lithuania',
        id: 'LT',
      },
      {
        value: '39',
        name: 'Luxembourg',
        id: 'LU',
      },
      {
        value: '5',
        name: 'Madagascar',
        id: 'MG',
      },
      {
        value: '1',
        name: 'Malawi',
        id: 'MW',
      },
      {
        value: '131',
        name: 'Malaysia',
        id: 'MY',
      },
      {
        value: '0',
        name: 'Maldives',
        id: 'MV',
      },
      {
        value: '2',
        name: 'Mali',
        id: 'ML',
      },
      {
        value: '7',
        name: 'Malta',
        id: 'MT',
      },
      {
        value: '0',
        name: 'Mauritania',
        id: 'MR',
      },
      {
        value: '17',
        name: 'Mauritius',
        id: 'MU',
      },
      {
        value: '296',
        name: 'Mexico',
        id: 'MX',
      },
      {
        value: '101',
        name: 'Moldova',
        id: 'MD',
      },
      {
        value: '4',
        name: 'Monaco',
        id: 'MC',
      },
      {
        value: '1',
        name: 'Mongolia',
        id: 'MN',
      },
      {
        value: '19',
        name: 'Montenegro',
        id: 'ME',
      },
      {
        value: '0',
        name: 'Montserrat',
        id: 'MS',
      },
      {
        value: '99',
        name: 'Morocco',
        id: 'MA',
      },
      {
        value: '0',
        name: 'Mozambique',
        id: 'MZ',
      },
      {
        value: '1',
        name: 'Myanmar',
        id: 'MM',
      },
      {
        value: '0',
        name: 'Namibia',
        id: 'NA',
      },
      {
        value: '0',
        name: 'Nepal',
        id: 'NP',
      },
      {
        value: '952',
        name: 'Netherlands',
        id: 'NL',
      },
      {
        value: '0',
        name: 'New_Caledonia',
        id: 'NC',
      },
      {
        value: '32',
        name: 'New_Zealand',
        id: 'NZ',
      },
      {
        value: '1',
        name: 'Nicaragua',
        id: 'NI',
      },
      {
        value: '69',
        name: 'Niger',
        id: 'NE',
      },
      {
        value: '6',
        name: 'Nigeria',
        id: 'NG',
      },
      {
        value: '87',
        name: 'North_Macedonia',
        id: 'MK',
      },
      {
        value: '0',
        name: 'Northern_Mariana_Islands',
        id: 'MP',
      },
      {
        value: '115',
        name: 'Norway',
        id: 'NO',
      },
      {
        value: '73',
        name: 'Oman',
        id: 'OM',
      },
      {
        value: '587',
        name: 'Pakistan',
        id: 'PK',
      },
      {
        value: '36',
        name: 'Palestine',
        id: 'PS',
      },
      {
        value: '112',
        name: 'Panama',
        id: 'PA',
      },
      {
        value: '0',
        name: 'Papua_New_Guinea',
        id: 'PG',
      },
      {
        value: '0',
        name: 'Paraguay',
        id: 'PY',
      },
      {
        value: '280',
        name: 'Peru',
        id: 'PE',
      },
      {
        value: '414',
        name: 'Philippines',
        id: 'PH',
      },
      {
        value: '311',
        name: 'Poland',
        id: 'PL',
      },
      {
        value: '452',
        name: 'Portugal',
        id: 'PT',
      },
      {
        value: '38',
        name: 'Puerto_Rico',
        id: 'PR',
      },
      {
        value: '228',
        name: 'Qatar',
        id: 'QA',
      },
      {
        value: '193',
        name: 'Romania',
        id: 'RO',
      },
      {
        value: '954',
        name: 'Russia',
        id: 'RU',
      },
      {
        value: '1',
        name: 'Rwanda',
        id: 'RW',
      },
      {
        value: '1',
        name: 'Saint_Kitts_and_Nevis',
        id: 'KN',
      },
      {
        value: '0',
        name: 'Saint_Lucia',
        id: 'LC',
      },
      {
        value: '0',
        name: 'Saint_Vincent_and_the_Grenadines',
        id: 'VC',
      },
      {
        value: '11',
        name: 'San_Marino',
        id: 'SM',
      },
      {
        value: '138',
        name: 'Saudi_Arabia',
        id: 'SA',
      },
      {
        value: '4',
        name: 'Senegal',
        id: 'SN',
      },
      {
        value: '292',
        name: 'Serbia',
        id: 'RS',
      },
      {
        value: '1',
        name: 'Seychelles',
        id: 'SC',
      },
      {
        value: '0',
        name: 'Sierra_Leone',
        id: 'SL',
      },
      {
        value: '66',
        name: 'Singapore',
        id: 'SG',
      },
      {
        value: '0',
        name: 'Sint_Maarten',
        id: 'SX',
      },
      {
        value: '49',
        name: 'Slovakia',
        id: 'SK',
      },
      {
        value: '24',
        name: 'Slovenia',
        id: 'SI',
      },
      {
        value: '0',
        name: 'Somalia',
        id: 'SO',
      },
      {
        value: '31',
        name: 'South_Africa',
        id: 'ZA',
      },
      {
        value: '47',
        name: 'South_Korea',
        id: 'KR',
      },
      {
        value: '0',
        name: 'South_Sudan',
        id: 'SS',
      },
      {
        value: '4273',
        name: 'Spain',
        id: 'ES',
      },
      {
        value: '12',
        name: 'Sri_Lanka',
        id: 'LK',
      },
      {
        value: '0',
        name: 'Sudan',
        id: 'SD',
      },
      {
        value: '0',
        name: 'Suriname',
        id: 'SR',
      },
      {
        value: '376',
        name: 'Sweden',
        id: 'SE',
      },
      {
        value: '552',
        name: 'Switzerland',
        id: 'CH',
      },
      {
        value: '0',
        name: 'Syria',
        id: 'SY',
      },
      {
        value: '10',
        name: 'Taiwan',
        id: 'TW',
      },
      {
        value: '38',
        name: 'Thailand',
        id: 'TH',
      },
      {
        value: '0',
        name: 'Timor_Leste',
        id: 'TL',
      },
      {
        value: '14',
        name: 'Togo',
        id: 'TG',
      },
      {
        value: '1',
        name: 'Trinidad_and_Tobago',
        id: 'TT',
      },
      {
        value: '21',
        name: 'Tunisia',
        id: 'TN',
      },
      {
        value: '3148',
        name: 'Turkey',
        id: 'TR',
      },
      {
        value: '3',
        name: 'Turks_and_Caicos_islands',
        id: 'TC',
      },
      {
        value: '0',
        name: 'Uganda',
        id: 'UG',
      },
      {
        value: '68',
        name: 'Ukraine',
        id: 'UA',
      },
      {
        value: '277',
        name: 'United_Arab_Emirates',
        id: 'AE',
      },
      {
        value: '3802',
        name: 'United_Kingdom',
        id: 'UK',
      },
      {
        value: '2',
        name: 'United_Republic_of_Tanzania',
        id: 'TZ',
      },
      {
        value: '30561',
        name: 'United_States_of_America',
        id: 'US',
      },
      {
        value: '0',
        name: 'United_States_Virgin_Islands',
        id: 'VI',
      },
      {
        value: '9',
        name: 'Uruguay',
        id: 'UY',
      },
      {
        value: '55',
        name: 'Uzbekistan',
        id: 'UZ',
      },
      {
        value: '11',
        name: 'Venezuela',
        id: 'VE',
      },
      {
        value: '4',
        name: 'Vietnam',
        id: 'VN',
      },
      {
        value: '0',
        name: 'Zambia',
        id: 'ZM',
      },
      {
        value: '0',
        name: 'Zimbabwe',
        id: 'ZW',
      },
    ];

    // Set up heat legend
    let heatLegend = chart.createChild(am4maps.HeatLegend);
    heatLegend.series = polygonSeries;
    heatLegend.align = 'right';
    heatLegend.valign = 'bottom';
    heatLegend.width = am4core.percent(20);
    heatLegend.marginRight = am4core.percent(4);
    heatLegend.minValue = 0;
    heatLegend.maxValue = 30561;

    // Set up custom heat map legend labels using axis ranges
    var minRange = heatLegend.valueAxis.axisRanges.create();
    minRange.value = heatLegend.minValue;
    minRange.label.text = '0';
    var maxRange = heatLegend.valueAxis.axisRanges.create();
    maxRange.value = heatLegend.maxValue;
    maxRange.label.text = '30561';

    // Blank out internal heat legend value axis labels
    heatLegend.valueAxis.renderer.labels.template.adapter.add('text', function (
      labelText
    ) {
      return '';
    });

    // Configure series tooltip
    var polygonTemplate = polygonSeries.mapPolygons.template;
    polygonTemplate.tooltipText = '{name}: {value}';
    polygonTemplate.nonScalingStroke = true;
    polygonTemplate.strokeWidth = 0.5;

    // Create hover state and set alternative fill color
    var hs = polygonTemplate.states.create('hover');
    hs.properties.fill = am4core.color('#3c5bdc');
  }); // end am4core.ready()
</script>

<!-- HTML -->
<div id="chartdiv"></div>
